body {
    font-family: Trebuchet MS, Arial;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

.tweet {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   position: relative;
   background: #121E31;
   color: white;
   margin-bottom: 2px;
   border: 2px solid #aaa;
}

