body {
    font-family: Trebuchet MS, Arial;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

#content {      
      margin: 0 auto;
      position: relative;      
}

.td14 {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;   
}


.cell {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   position: relative;
   background: #121E31;
   color: white;

   padding: 10px;
   border: 1px solid #aaa;
}

.spacer {
    height: 5px;
}

a {font-size: 14px;text-decoration: none;}
a:link, a:visited { color:#4C90F9; }
a:hover { color:##4C90F9; }

